
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
margin: 0;
padding:0;
box-sizing: border-box;
}

body{
min-height: 100vh;
font-size:25px;
background-image: url(/images/bg_img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

/* styling the navigation bar*/


header{
color:#fff;

width: 100%;
height: 15vh;
display: flex;
align-items:center ;
justify-content: space-between;
}

header h1{

padding: 50px;
font-weight: bold;
letter-spacing: 1px;
}

header a{

    text-decoration: none;
    color: #fff;


}

header a:hover{

scale: 1.1;
transition: .3s;

}

nav ul{

display: flex;
justify-content: space-around;

}

nav li{

margin:0 70px 0 0;
list-style: none;

}

nav a{
   color: #fff;
    text-decoration: none;
    position: relative;

}

nav a:hover{


color: #cecece;
transition: .3s;

}



nav a::before{
content: '';
position: absolute;
top:100%;
left:0;
width: 0;
height: 2px;
background: #fff;
}

nav a:hover::before{

width: 100%;
transition: .3s;

}




/*styling main content with text*/


.main_container{

min-height: 85vh;
display: flex;
justify-content: center;
align-items: center;

}

.center_text{
width: 90vw;
height: 65vh;
background:linear-gradient(56deg, rgba(0,0,0,0.2),rgba(0,0,0,0.345));
backdrop-filter: blur(20px);
border-radius:20px ;
margin-bottom: 30px;
text-align: center;
font-size: 20px;
color:#fff;
box-shadow: 1px 2px 1px 0 rgba(255, 255, 255, 0.1);
padding-top:12px;
}

.main_container ul{

 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 
}

.main_container p{

font-size: 30px;

}
.main_container ul li{

list-style: none;
margin-right: 40px;
margin-top: 80px;
font-size: 30px;
font-weight: bold;
}



/*styling subpages ; linux.html and windows.html*/

.container{

    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;



}
.container a{

text-decoration: none;

}

.container a:hover{

transform: translateY(-30px);
scale: 1.05;
transition: .3s;



}

.container img{

    width: 220px;
    height: 220px;
    margin-bottom: 50px;

}

.container img:hover{

    transform: rotate(360deg);
    transition: .6s;


}

.left__content{

    width: 30vw;
    height: 60vh;
    background:linear-gradient(56deg, rgba(0,0,0,0.2),rgba(0,0,0,0.345));
    backdrop-filter: blur(20px);
    border-radius:20px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color:#fff;
    box-shadow: 1px 2px 1px 0 rgba(255, 255, 255, 0.1);
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   



}






.center__content{

    width: 30vw;
    height: 60vh;
    background:linear-gradient(56deg, rgba(0,0,0,0.2),rgba(0,0,0,0.345));
    backdrop-filter: blur(20px);
    border-radius:20px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color:#fff;
    box-shadow: 1px 2px 1px 0 rgba(255, 255, 255, 0.1);
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    


}



.right__content{

    width: 30vw;
    height: 60vh;
    background:linear-gradient(56deg, rgba(0,0,0,0.2),rgba(0,0,0,0.345));
    backdrop-filter: blur(20px);
    border-radius:20px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    color:#fff;
    box-shadow: 1px 2px 1px 0 rgba(255, 255, 255, 0.1);
    padding-top:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
/* footer styling */

footer{

    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }


.footer__container h2{

 color: #fff;  
font-size: 30px;
margin-bottom: 50px;

}

.footer__container ul{

display: flex;
justify-content: space-around;
align-items: center;
list-style: none;
}

.footer__container ul li{

scale:1.5;
font-size: 15px;


}



.footer__container ul li::before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width: 0;
    height: 2px;
    background: #fff;
    }
    
    .footer__container ul li:hover::before{
    
    width: 100%;
    transition:   .3s;
    
    }

    .footer__author{
        position: relative;
        width: 25vw;
        height: 10vh;
        background: linear-gradient(65deg, rgba(0,0,0,0.24),rgba(0,0,0,0.5));
        backdrop-filter: blur(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 12%;
        overflow: hidden;
        border-radius: 20px;
        
    }

    .footer__author::before{

        content: '';
        position: absolute;
        width: 120%;
        height:60% ;
        
        background-image: linear-gradient( 45deg,rgba(1, 52, 8, 0.9),rgba(34, 255, 0, 0.9) );
        animation: rotate 4s linear infinite;

    }
    

    .footer__container .footer__author::after{

        content: '';
        position: absolute;
        background:  rgba(0,0,0,0.98);    
       inset: 10px;
        border-radius: 10px;

    }


    @keyframes rotate{
        from{
        transform: rotate(0deg);
        
        }
        to{
        transform: rotate(360deg);
        
        }

    }
   



 .footer__author h3{
    z-index: 2;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    animation: translate .4s infinite;
 }

 @keyframes translate{
    from{
    transform: translateY(0);
    
    }
    to{
        transform: translateY(10%);
    
    }

}



 



    


